{
  "env": {
    "node":{
      "presets": [
        "@babel/preset-react"
      ]
    },
    "web": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 3 versions"
              ]
            },
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": 3
          }
        ]
      ]
    }
  }
}